<h1>The single product</h1>

<h2><%= @product.name  %></h2>
<h5><%= @product.price  %></h5>
<h4><%= @product.description %></h4>
<div><img src=<%= @product.image %> alt="missing image"></div>

<h2><a href="/products">Back to Home</a></h2>
